<header>
  <div class="logo">
         <img id="logospain" src="assets/images/spainskills.jpg" alt="Logo de Spain Skills">
     </div>
</header>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <br>
              <button type="submit" class="btn" (click)="entrar()">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

