.reserva{
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 600px;
    height: 200px;
    border: 1px solid rgb(0, 0, 39);
    background-color: rgb(214, 202, 32);
}
.reserva:hover{
    transform: scale(1.01);
}
.eliminar{
    position: absolute;
    width: 200px;
    background: linear-gradient(45deg,rgb(255, 94, 0),red);
    border: 3px solid rgb(0, 0, 0);
   
    font-size: 20px;
    bottom: 0;
    right: 0;
    margin: 10px;
}
