.card-header{
    background-color: rgb(255, 92, 92);
}
input{
    background-color: rgb(255, 145, 145);
    opacity: 0.6;
}

.card{
    border: 1px solid black;
}
.btn{
    background-color: rgb(236, 74, 74);
}