<div class="container mt-5 my-3">
    <div class="row ">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1>Agregar Mesa</h1>
            <div class="card-body">
            <!-- <form formGroup="formMesa" class="form">
            <div class="form-group">
                <div class="form-group">
                <label for="ancho">Ancho:</label>
                <input type="number" min="50" max="200" class="form-control"></div>
                <div class="form-group">
                <label for="largo">Largo:</label>
                <input type="number" min="50" max="1000" class="form-control">
                </div>
                <div class="mt-4">
                <input type="submit" value="Agregar Mesa" class="form-control">
                </div>
            </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
